<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdkj.tdcloud.admin.mapper.MasterDataMapper">
    
    <resultMap type="com.tdkj.tdcloud.admin.api.entity.MasterData" id="MasterDataResult">
        <result property="id"    column="id"    />
        <result property="itemType"    column="Item_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="allocationStatus"    column="allocation_status"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="allocationTime"    column="allocation_time"    />
    </resultMap>

    <sql id="selectMasterDataVo">
        select id, Item_type,allocation_time, create_time,audit_time,user_id,user_name, audit_status, allocation_status, submit_time, is_delete from master_data
    </sql>

    <select id="selectMasterDataList" parameterType="com.tdkj.tdcloud.admin.api.dto.MasterDataDto" resultMap="MasterDataResult">
        <include refid="selectMasterDataVo"/>
        <where>

            <if test="itemType != null  and itemType != ''"> and Item_type = #{itemType}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
            <if test="allocationStatus != null  and allocationStatus != ''"> and allocation_status = #{allocationStatus}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
			<if test="beginSubmitTime != null and beginSubmitTime != '' and endSubmitTime != null and endSubmitTime != ''"> and submit_time between #{beginSubmitTime} and #{endSubmitTime}</if>

		</where>
		ORDER BY  create_time DESC
		OFFSET #{page} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

	<select id="selectExportMasterDataList" parameterType="com.tdkj.tdcloud.admin.api.dto.MasterDataDto" resultMap="MasterDataResult">
		<include refid="selectMasterDataVo"/>
		<where>

			<if test="itemType != null  and itemType != ''"> and Item_type = #{itemType}</if>
			<if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
			<if test="allocationStatus != null  and allocationStatus != ''"> and allocation_status = #{allocationStatus}</if>
			<if test="isDelete != null "> and is_delete = #{isDelete}</if>
			<if test="beginSubmitTime != null and beginSubmitTime != '' and endSubmitTime != null and endSubmitTime != ''"> and submit_time between #{beginSubmitTime} and #{endSubmitTime}</if>

		</where>

	</select>

	<select id="selectMasterDataListTotal" parameterType="com.tdkj.tdcloud.admin.api.dto.MasterDataDto" resultType="integer">
		select count(id) from master_data

		<where>
			<if test="itemType != null  and itemType != ''"> and Item_type = #{itemType}</if>
			<if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
			<if test="allocationStatus != null  and allocationStatus != ''"> and allocation_status = #{allocationStatus}</if>
			<if test="isDelete != null "> and is_delete = #{isDelete}</if>
			<if test="beginSubmitTime != null and beginSubmitTime != '' and endSubmitTime != null and endSubmitTime != ''"> and submit_time between #{beginSubmitTime} and #{endSubmitTime}</if>

		</where>

	</select>
    
    <select id="selectMasterDataById" parameterType="Long" resultMap="MasterDataResult">
        <include refid="selectMasterDataVo"/>
        where id = #{id}
    </select>
	<select id="selectSysUserByUserId" parameterType="Long" resultType="string">
		SELECT username FROM sys_user
		where user_id = #{userId}
	</select>

	<select id="selectMasterDataByAuditStatus" resultMap="MasterDataResult">
		<include refid="selectMasterDataVo"/>
		where user_id = #{userId} and audit_status = '0' and item_type = #{itemType}
	</select>

	<select id="selectFileByMasterId" resultType="com.tdkj.tdcloud.admin.api.entity.SysFile">
		SELECT * FROM sys_file WHERE master_id = #{masterId} AND item_type = #{itemType} and del_flag = 0
	</select>

    <insert id="insertMasterData" parameterType="com.tdkj.tdcloud.admin.api.entity.MasterData" useGeneratedKeys="true" keyProperty="id">
        insert into master_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemType != null">Item_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="allocationStatus != null">allocation_status,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="allocationTime != null">allocation_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemType != null">#{itemType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="allocationStatus != null">#{allocationStatus},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="allocationTime != null">#{allocationTime},</if>
         </trim>
    </insert>

    <update id="updateMasterData" parameterType="com.tdkj.tdcloud.admin.api.entity.MasterData">
        update master_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemType != null">Item_type = #{itemType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="allocationStatus != null">allocation_status = #{allocationStatus},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="allocationTime != null">allocation_time = #{allocationTime},</if>
        </trim>
        where id = #{id}
    </update>

	<update id="updateMasterDataAuditStatus">
		update master_data
		set audit_status = #{auditStatus},audit_time = GETDATE()
		where id = #{masterId}
	</update>

	<update id="updateMasterDataAllocationStatus">
		update master_data
		set allocation_status = #{allocationStatus},allocation_time = GETDATE()
		where id = #{masterId}
	</update>

    <delete id="deleteMasterDataById" parameterType="Long">
        delete from master_data where id = #{id}
    </delete>

    <delete id="deleteMasterDataByIds" parameterType="String">
        delete from master_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>