<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdkj.tdcloud.admin.mapper.MasterDataMapper">
    
    <resultMap type="com.tdkj.tdcloud.admin.api.entity.MasterData" id="MasterDataResult">
        <result property="id"    column="id"    />
        <result property="itemType"    column="Item_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="allocationStatus"    column="allocation_status"    />
        <result property="submitTime"    column="submit_time"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="allocationTime"    column="allocation_time"    />
    </resultMap>

	<resultMap type="com.tdkj.tdcloud.admin.api.vo.MasterDataVO" id="MasterDataResultVO">
		<result property="id"    column="id"    />
		<result property="itemType"    column="Item_type"    />
		<result property="auditStatus"    column="audit_status"    />
		<result property="allocationStatus"    column="allocation_status"    />
		<result property="submitTime"    column="submit_time"    />
		<result property="auditTime"    column="audit_time"    />
		<result property="allocationTime"    column="allocation_time"    />
	</resultMap>

    <sql id="selectMasterDataVo">
        select id, Item_type,allocation_time, create_time,audit_time,user_id,user_name, audit_status, allocation_status, submit_time, is_delete from master_data
    </sql>

	<sql id="selectExportMasterDataVo">
		select id, Item_type,allocation_time, create_time,audit_time,user_id,user_name, audit_status, allocation_status, submit_time, is_delete from master_data
	</sql>

    <select id="selectMasterDataList" parameterType="com.tdkj.tdcloud.admin.api.dto.MasterDataDto" resultMap="MasterDataResult">
        <include refid="selectMasterDataVo"/>
        <where>
			<if test="auditType != null  and auditType != ''"> and audit_status not in ('0','1')</if>
			<if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="itemType != null  and itemType != ''"> and Item_type = #{itemType}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
            <if test="allocationStatus != null  and allocationStatus != ''"> and allocation_status = #{allocationStatus}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
			<if test="beginSubmitTime != null and beginSubmitTime != '' and endSubmitTime != null and endSubmitTime != ''"> and submit_time between #{beginSubmitTime} and #{endSubmitTime}</if>
			<if test="beginAuditTime != null and beginAuditTime != '' and endAuditTime != null and endAuditTime != ''"> and audit_time between #{beginAuditTime} and #{endAuditTime}</if>
			<if test="beginAllocationTime != null and beginAllocationTime != '' and endAllocationTime != null and endAllocationTime != ''"> and allocation_time between #{beginAllocationTime} and #{endAllocationTime}</if>

		</where>
		ORDER BY  create_time DESC
		OFFSET #{page} ROWS FETCH NEXT #{pageSize} ROWS ONLY
    </select>

	<select id="selectExportMasterDataList" parameterType="com.tdkj.tdcloud.admin.api.dto.MasterDataDto" resultMap="MasterDataResultVO">
		<include refid="selectExportMasterDataVo"/>
		<where>
			<if test="auditType != null  and auditType != ''"> and audit_status not in ('0','1')</if>
			<if test="itemType != null  and itemType != ''"> and Item_type = #{itemType}</if>
			<if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
			<if test="allocationStatus != null  and allocationStatus != ''"> and allocation_status = #{allocationStatus}</if>
			<if test="isDelete != null "> and is_delete = #{isDelete}</if>
			<if test="beginSubmitTime != null and beginSubmitTime != '' and endSubmitTime != null and endSubmitTime != ''"> and submit_time between #{beginSubmitTime} and #{endSubmitTime}</if>
			<if test="beginAuditTime != null and beginAuditTime != '' and endAuditTime != null and endAuditTime != ''"> and audit_time between #{beginAuditTime} and #{endAuditTime}</if>
			<if test="beginAllocationTime != null and beginAllocationTime != '' and endAllocationTime != null and endAllocationTime != ''"> and allocation_time between #{beginAllocationTime} and #{endAllocationTime}</if>


			<if test="idList !=null and idList.size()>0 ">
				and id in
				<foreach collection="idList" index="index" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		</where>

	</select>

	<select id="selectMasterDataListTotal" parameterType="com.tdkj.tdcloud.admin.api.dto.MasterDataDto" resultType="integer">
		select count(id) from master_data

		<where>
			<if test="auditType != null  and auditType != ''"> and audit_status not in ('0','1')</if>
			<if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
			<if test="itemType != null  and itemType != ''"> and Item_type = #{itemType}</if>
			<if test="auditStatus != null  and auditStatus != ''"> and audit_status = #{auditStatus}</if>
			<if test="allocationStatus != null  and allocationStatus != ''"> and allocation_status = #{allocationStatus}</if>
			<if test="isDelete != null "> and is_delete = #{isDelete}</if>
			<if test="beginSubmitTime != null and beginSubmitTime != '' and endSubmitTime != null and endSubmitTime != ''"> and submit_time between #{beginSubmitTime} and #{endSubmitTime}</if>
			<if test="beginAuditTime != null and beginAuditTime != '' and endAuditTime != null and endAuditTime != ''"> and audit_time between #{beginAuditTime} and #{endAuditTime}</if>
			<if test="beginAllocationTime != null and beginAllocationTime != '' and endAllocationTime != null and endAllocationTime != ''"> and allocation_time between #{beginAllocationTime} and #{endAllocationTime}</if>

		</where>

	</select>
    
    <select id="selectMasterDataById" parameterType="Long" resultMap="MasterDataResult">
        <include refid="selectMasterDataVo"/>
        where id = #{id}
    </select>
	<select id="selectSysUserByUserId" parameterType="Long" resultType="string">
		SELECT username FROM sys_user
		where user_id = #{userId}
	</select>

	<select id="selectSysDept" parameterType="Long" resultType="com.tdkj.tdcloud.admin.api.entity.SysDept">
		SELECT * FROM sys_dept
		where parent_id != #{parentId}
	</select>

	<select id="selectSysDeptById" parameterType="Long" resultType="String">
		SELECT name FROM sys_dept
		where dept_id = #{deptId}
	</select>

	<select id="selectMasterDataByAuditStatus" resultMap="MasterDataResult">
		<include refid="selectMasterDataVo"/>
		where user_id = #{userId} and audit_status = '0' and item_type = #{itemType}
	</select>

	<select id="selectFileByMasterId" resultType="com.tdkj.tdcloud.admin.api.entity.SysFile">
		SELECT * FROM sys_file WHERE master_id = #{masterId} AND item_type = #{itemType} and del_flag = 0
	</select>

    <insert id="insertMasterData" parameterType="com.tdkj.tdcloud.admin.api.entity.MasterData" useGeneratedKeys="true" keyProperty="id">
        insert into master_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemType != null">Item_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="allocationStatus != null">allocation_status,</if>
            <if test="submitTime != null">submit_time,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="allocationTime != null">allocation_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemType != null">#{itemType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="allocationStatus != null">#{allocationStatus},</if>
            <if test="submitTime != null">#{submitTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="allocationTime != null">#{allocationTime},</if>
         </trim>
    </insert>

    <update id="updateMasterData" parameterType="com.tdkj.tdcloud.admin.api.entity.MasterData">
        update master_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemType != null">Item_type = #{itemType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="allocationStatus != null">allocation_status = #{allocationStatus},</if>
            <if test="submitTime != null">submit_time = #{submitTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="allocationTime != null">allocation_time = #{allocationTime},</if>
        </trim>
        where id = #{id}
    </update>

	<update id="updateMasterDataAuditStatus">
		update master_data
		set audit_status = #{auditStatus},audit_time = #{auditTime}
		where id = #{masterId}
	</update>

	<update id="updateMasterDataAllocationStatus">
		update master_data
		set allocation_status = #{allocationStatus},allocation_time = #{allocationTime}
		where id = #{masterId}
	</update>

    <delete id="deleteMasterDataById" parameterType="Long">
        delete from master_data where id = #{id}
    </delete>

    <delete id="deleteMasterDataByIds" parameterType="String">
        delete from master_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

	<select id="selectNotAudit" resultType="integer">
		SELECT count(id) FROM master_data
		where audit_status = #{auditStatus} and Item_type = #{itemType}
	</select>

	<select id="selectAllMasterData" resultType="com.tdkj.tdcloud.admin.api.entity.MonthStatistics">
		SELECT
		CASE month
		WHEN 1 THEN CONVERT(varchar(10), '一月')
        WHEN 2 THEN CONVERT(varchar(10), '二月')
        WHEN 3 THEN CONVERT(varchar(10), '三月')
        WHEN 4 THEN CONVERT(varchar(10), '四月')
        WHEN 5 THEN CONVERT(varchar(10), '五月')
        WHEN 6 THEN CONVERT(varchar(10), '六月')
        WHEN 7 THEN CONVERT(varchar(10), '七月')
        WHEN 8 THEN CONVERT(varchar(10), '八月')
        WHEN 9 THEN CONVERT(varchar(10), '九月')
        WHEN 10 THEN CONVERT(varchar(10), '十月')
        WHEN 11 THEN CONVERT(varchar(10), '十一月')
        WHEN 12 THEN CONVERT(varchar(10), '十二月')
		END AS capsMonth,
			COALESCE(COUNT(md.id), 0) AS total
		FROM
			(
				SELECT 1 AS month UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION
				SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8 UNION
				SELECT 9 UNION SELECT 10 UNION SELECT 11 UNION SELECT 12
			) AS m
				LEFT JOIN master_data AS md ON m.month = MONTH(md.submit_time)
			AND YEAR(md.submit_time) = #{year} AND md.Item_type = #{itemType}
			and md.allocation_status = '1'
		GROUP BY
			m.month
		ORDER BY
			m.month;
	</select>
</mapper>